* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, input, select, textarea {
    font-family: 'Poppins', sans-serif;   
}

body::before {
    content: '';
    width: 100%;
    height: 360px;
    background: #121214;

    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

body {     
    background-color: #e5e5e5;
}

#page {
    width: 736px;
    margin: auto;
}

#page header {
    width: 319px;

    margin-top: 74px;
}

#page header h1 {
    font-family: 'Archivo', sans-serif;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    color: #ffffff;
    margin-bottom: 24px;
}

#page header p {
    font-size: 16px;
    line-height: 26px;
    color: #42d3ff;
}

#page form {
    background: #fafafc;
    min-height: 300px;
    margin-top: 38px;
    border-radius: 8px 8px 0 0;
    padding: 64px;

    display: flex;
    flex-direction: column;
    gap: 48px;
}

#page form fieldset {
    border: none;    
}

form fieldset .fieldset-wrapper {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

form fieldset legend {
    font-family: 'Archivo', sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 34px;

    width: 100%;
    padding-bottom: 16px;
    border-bottom: 1px solid #e6e6f0;
}

form fieldset .input-wrapper {
    display: flex;
    flex-direction: column;
}

fieldset .input-wrapper label, 
fieldset .checkbox-wrapper label {
    font-size: 14px;
    line-height: 24px;

    color: #4e4958;

    margin-bottom: 8px;
}

.input-wrapper label span {
    margin-left: 12px;

    font-size: 14px;
    line-height: 24px;

    color: #a9a7af;

}

.input-wrapper label span:hover {
    margin-left: 12px;

    font-size: 14px;
    line-height: 24px;

    color: #6c6a71;

}

fieldset .input-wrapper input,
fieldset .input-wrapper textarea,
fieldset .input-wrapper select {
    background: #fafafc;

    border: 1px solid #e6e6f0;
    border-radius: 8px;

    height: 56px;
    padding: 24px;

    font-size: 16px;
    line-height: 26px;

    color: #6c6a71;
}

fieldset .input-wrapper textarea {
    padding: 0;
    height: 168px;
}

fieldset .input-wrapper select {
    appearance: none;
    -webkit-appearance: none;

    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_1_54)'%3E%3Cpath d='M8 10L12 14L16 10' stroke='%239C98A6' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_1_54'%3E%3Crect width='24' height='24' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: right 24px top 50%;

}    

fieldset .fieldset-wrapper .col-3 {
    display: flex;
    gap: 20px;
}

.fieldset-wrapper .col-3 > div:nth-child(1){
    width: 100%;
}

form fieldset .checkbox-wrapper {
    position: relative;
}

fieldset .checkbox-wrapper label{
    display: flex;
    align-items: center;
    gap: 16px;
    margin: 0;
}

fieldset .checkbox-wrapper input{
    position: absolute;
    top: 0;
    left: 0;
    width: 24px;
    height: 24px;
    opacity: 0;
}

fieldset .checkbox-wrapper label::before{
    content: '';
    width: 24px;
    height: 24px;
    border: 1px solid #e6e6f0;
    border-radius: 8px;
    display: block;
}

.checkbox-wrapper input:checked + label::before {
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.00016 16.1698L4.83016 11.9998L3.41016 13.4098L9.00016 18.9998L21.0002 6.99984L19.5902 5.58984L9.00016 16.1698Z' fill='%2342D3FF'/%3E%3C/svg%3E%0A");
}

.checkbox-wrapper input:focus + label::before {
    outline: 2px solid #000000;
}

#page footer {
    background-color: #f0f0f4;
    height: 136px;
    display: flex;
    flex-direction: column;

    padding: 40px 64px;

    margin-bottom: 100px;

    border-top: 1px solid #d6d6d6;
    border-radius: 0 0 8px 8px;
}

#page footer button {
    height: 56px;
    background: #04d361;
    border-radius: 8px;
    border: 0;

    font-family: 'Archivo', sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 26px;

    color: #ffffff;

}

#page footer button:hover {
    background: #08A04C;

}

input:invalid {
    border: 2px solid #ff1010;
}